<h1>Anunturi externe</h1>
<input type="button" value="999" class="btn btn-primary" onclick="window.location='{{ path('AdminAdminBundle_999_list') }}'">
<input type="button" value="Makler" class="btn btn-primary" onclick="window.location='{{ path('AdminAdminBundle_makler_list') }}'">