{% extends '::base.html.twig' %}

{% block title %}{{ seo.page_title }}{% endblock %}
{% block keywords %}{{ seo.keywords }}{% endblock %}
{% block description %}{{ seo.description }}{% endblock %}

{% block homepage_middle%}{% endblock %}
{% block homepage_search%}{% endblock %}
{% block homepage_last_announcements%}{% endblock %}

{% block main_block %}
    <div class="sep"></div>
    <h1>Despre inchiriere.md</h1>
    <div class="sep"></div>
    Inchiriere.md este un site de imobiliare. Este destinat celor care cauta sau ofera gazda in Chisinau.
{% endblock %}