{% extends '::base.html.twig' %}
{% block homepage_middle%}{% endblock %}
{% block homepage_search%}{% endblock %}
{% block homepage_last_announcements%}{% endblock %}

{% block main_block %}
    <div class="sep"></div>
    <h1>Regulile site-ului</h1>
    <div class="sep"></div>
    1) Administratia inchiriere.md nu poarta responsabilitate pentru anunturile si fotografiile publicate si isi asuma dreptul de a sterge anunturile care nu corespund tematicii site-ului. 
    Administratia site-ului de asemenea isi asuma dreptul de a refuza sau modifica anunturile publicate. 
    <br />
    <br /> 
    2) Anunturile plasate de <b>agentii</b> vor fi expuse in categoria <b>"Anunturile agentiilor"</b>. La plasarea anuntului selectati optiunea <b>"Agentie"</b>, in caz contrar administratia site-ului <a href="http://www.inchiriere.md">www.inchiriere.md</a> isi asuma dreptul de a modifica, sterge sau refuza anuntul.
{% endblock %}