Buna ziua,

pentru a sterge anuntul postat de Dvs va rugam sa accesati link-ul de mai jos:
<a href="{{ url('DauDauBundle_delete_dau', {'secret_hash': secret_hash}) }}">{{ url('DauDauBundle_delete_dau', {'secret_hash': secret_hash}) }}</a>